{% extends "base.html" %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Welcome to the Xavier Library System!</h1>
  </div>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    {% if account_type == None %}
      <h1 class="h3 mb-0 text-gray-800">You are not logged in.</h1> 
    {% else %}
      <h1 class="h3 mb-0 text-gray-800">You are logged in as a {{account_type}}!</h1>
    {% endif %}
  </div>

</div>
<!-- /.container-fluid -->

{% endblock %}
