{% extends "base_page.html" %}

{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Books</h1>
          <p class="mb-4">Here you can find all the books that can be found in the Xavier Library system.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <!-- <h6 class="m-0 font-weight-bold text-primary"></h6> -->
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Author</th>
                      <th>Publisher</th>
                      <th>Year of Publication</th>
                      <th>ISBN</th>
                      <th>Copies</th>
                      <th>Borrowed</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for book in books %}
                    <form method="post" action="/editbook">
                    {% csrf_token %}
                    <input type="hidden" name="id" value={{book.id}}>
                    <tr>
                      <td><input value="{{ book.title }}" name="title"></td>
                      <td><input value="{{ book.author }}" name="author"></td>
                      <td><input value="{{ book.publisher }}" name="publisher"></td>
                      <td><input value="{{ book.publication_year }}" name="publication_year"></td>
                      <td><input value="{{ book.isbn }}" name="isbn"></td>
                      <td>{{ book.instances }}</td>
                      <td>{{ book.borrowed }}</td>
                      {% if book.reserved %}
                        <td>Reserved</td>
                      {% else %}
                        <td>Available</td>
                      {% endif %}
                      <td>
                        <button type="submit" class="mx-1 btn btn-sm btn-primary shadow-sm">Edit</a>
                        </form>
                        <form method="post" action="/deletebook">
                        {% csrf_token %}
                        <input type="hidden" name="id" value={{book.id}}>
                        <button type="submit" class="mx-1 btn btn-sm btn-primary shadow-sm">Delete</a>
                        </form>
                        <form method="post" action="/addinstance">
                        {% csrf_token %}
                        <input type="hidden" name="id" value={{book.id}}>
                        <button type="submit" class="mx-1 btn btn-sm btn-primary shadow-sm">Add Copy</a>
                        </form>
                        <form method="post" action="/removeinstance">
                        {% csrf_token %}
                        <input type="hidden" name="id" value={{book.id}}>
                        <button type="submit" class="mx-1 btn btn-sm btn-primary shadow-sm">Remove Copy</a>
                        </form>
                      {% comment %} <input type="button">Edit<input/>
                      <input type="button">Delete<input/> {% endcomment %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

{% endblock %}


