{% extends "base_page.html" %}

{% load account %}

{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">User Profile</h1>
          <p class="mb-4">Here you can find your user profile.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <!-- <h6 class="m-0 font-weight-bold text-primary"></h6> -->
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <tbody>
                    <tr>
                      <td><strong>First name</strong></td>
                      <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                      <td><strong>Last name</strong></td>
                      <td>{{ user.lastname }}</td>
                    </tr>
                    <tr>
                      <td><strong>Username</strong></td>
                      <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                      <td><strong>Email</strong></td>
                      <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                      <td><strong>ID Number</strong></td>
                      <td>{{ user.idnum }}</td>
                    </tr>
                    <tr>
                      <td><strong>Account Type</strong></td>
                      <td>
                      {% if user.is_manager %}
                        Book Manager
                      {% elif user.is_administrator %}
                        Administrator
                      {% else %}
                        Student/Teacher
                      {% endif %}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

{% endblock %}


